@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

html, body {
  background: #bcd7ef;
  background-attachment: fixed;
  min-height: 100vh;
  color: rgba(30, 20, 50, 0.9);
}

#root {
  min-height: 100vh;
  position: relative;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  